<!DOCTYPE html>
<html>
<head>
<style>
body{
padding : 0px;
background-color: Azure; 
}
a{
text-decoration: none;
font-size: x-large;
color: black;
}
a:hover {
text-decoration: none;
  background: purple;
}
h1{
text-align: center;
}
/* /* nav{
padding-left: 400px;
padding-top: -100px; 
} */	
#home{
padding-left: 250px;
}
#profile{
padding-left: 200px;
}
#post{
padding-left: 200px;
}

</style>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
<h1>Welcome to KodBook Application</h1>
<br><br>
<nav>
<a href="/home" id="home"><b>Home</b></a>
<a href="/prfile" id="profile"><b>My Profile</b></a>
<a href="/newPost" id="post"><b>Post Your Moments</b></a>
</nav>
</body>
</html>