<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodBook</title>
</head>
<body>
<h1>Welcome to KodBook!</h1>
<h3> Connect With Friends</h3>

<form action="/login" method="get">
<label>USERNAME: </label>
<input type=text name=username required>
<br><br>
<label>PASSWORD: </label>
<input type="password" name=password required>
<br><br>
<input type="submit" value=LOGIN required>
<hr>
<a href="/reset">Forgot Password?</a>
<a href="/openSignup">Create New Account</a>
</form>

</body>
</html>