<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodBook Sign Up</title>
</head>
<body>
<form action="/signUp" method="post">
<label>USERNAME: </label>
<input type=text name=username required>
<br><br>
<label>EMAIL: </label>
<input type=email name=email required>
<br><br>
<label>PASSWORD: </label>
<input type=password name=password required>
<br><br>
<label>DATE OF BIRTH: </label>
<input type=DATE name=dob required>
<br><br>
<label>GENDER: </label>
<input type=radio name= gender value=male>Male
<input type=radio name= gender value=female>Female
<input type=radio name= gender value=other>Other
<br><br>
<input type=submit value="SIGN UP">
<BR><BR>
<a href="/">Already have Account ? Login instead</a>
</form>
</body>
</html>